table {
    border-collapse: collapse;
}
td {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    font-size: 18px;
}
.thick-row {
    border-top: 3px solid black;
}
.thick-col {
    border-left: 3px solid black;
}